.row {
    margin-top: -10% !important;
    padding: 15%;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }
  .collapsible {
  background-color: white;
  color: #73c007;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  }

  .collapsible:hover {
  background-color: lightgray;
  }
          
  .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
  }

  .collapsible:after {
  content: '\002b'; 
  color:#73c007;
  font-size: 20px;
  float: right;
  margin-left: 5px;
  }

  .active:after {
  content: "\2212"; 
  }

  .convert {
  background-color: #391775;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  }

  h5 {
  background-color: #73c007;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  }

  .grade-list {
  box-shadow: 0px 0px 2px 2px #e8e8e8;
  }